#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  border: 4px double black;
  background-color: aliceblue;
  font-size: 30px;
}

nav {
  border: 4px double black;
  background-color: darkgray;
}

main {
  border: 4px double black;
  background-color: burlywood;
}
