/* The beginnings of a house style template */

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5; /* Not checked */
  font-weight: 400;
  font-style: normal;

  --site-background-color: #f1f1f1;
  --title-font-color: #ffffff;

  --header-font-color: #757575; /* headers, not the header section */
  --std-light-font-color: #ffffff;
  --std-light-font-hover: rgb(161, 165, 217);
  --std-dark-font-color: #000;

  --primary-color: rgb(10, 17, 122);

  color: var(--std-font-color);
  background-color: var(--site-background-color);
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

body {
  margin: auto;
  max-width: 1400px; /* review a sensible max width */
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--header-font-color);
  line-height: 1.1; /* check */
  margin: 5px 5px;
}

p {
  margin: 0;
}

/* this is applied in main.jsx at the highest level, hence is the starting point other than the margins and padding applied in body */
#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  display: grid;
  /* header, nav, main, footer */
  grid-template-rows: 200px 60px auto auto;
  /* row-gap: 30px; */
}

header {
  background-image: url("./assets/images/header-background-image.jpg");
  background-position: center;
  background-size: cover;
  background-color: var(
    --primary-color
  ); /* backup in case image not available */

  color: var(--title-font-color);
  font-size: 70px;
  font-weight: bold;
  text-shadow: 3px 3px var(--primary-color);
  display: grid;
  place-items: center;
}

a {
  font-weight: bold;
  color: var(--std-light-font-color);
  text-decoration: none;
}
a:hover {
  color: var(--std-light-font-hover);
}

/*
main {
  border: 4px double black;
  background-color: burlywood;
} */

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
