/* The beginnings of a house style template */

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5; /* Not checked */
  font-weight: 400;
  font-style: normal;

  --site-background-color: #f1f1f1;

  --header-font-color: #757575;
  --std-font-color: #000;

  color: var(--std-font-color);
  background-color: var(--site-background-color);
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--header-font-color);
  line-height: 1.1; /* check */
  margin: 5px 5px;
}

/* this is applied in main.jsx at the highest level */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(1fr);
  row-gap: 30px;
}

/* header {
  border: 4px double black;
  background-color: aliceblue;
  font-size: 30px;
}

nav {
  border: 4px double black;
  background-color: darkgray;
}

main {
  border: 4px double black;
  background-color: burlywood;
} */

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
